#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 70px 12px;
  background: radial-gradient(ellipse at top, #e69ff2 0%, #f3e5f5 70%);
  overflow-x: hidden;
}

.about-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-heading h1 {
  font-size: 2.6em;
}
.about-body {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.about-description {
  width: 50%;
  margin-left: 70px;
  margin-right: 12px;
  font-size: 1.2em;
  word-spacing: 0.2em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-background {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-titles {
  width: 100%;
  display: flex;
  margin-top: 70px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}
.tab-links {
  cursor: pointer;
  position: relative;
}
.tab-titles h1:nth-child(1),
.tab-titles h1:nth-child(2) {
  margin-right: 100px;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 100%;
}
.tab-contents {
  width: 100%;
  height: auto;
  display: none;
  padding-top: 20px;
}
.tab-contents.active-tab {
  display: block;
}

/* skill section*/
.skill-heading {
  display: flex;
  justify-content: center;
}
.skill-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 60px;
}
.skill-img {
  width: 51px;
  height: 51px;
}
.skill-text {
  display: flex;
  font-weight: bold;
  border: 1px solid #90117d;
  border-radius: 14px;
  box-shadow: 0 0 5px #a12dbc;
  align-items: center;
  justify-content: space-around;
  margin: 2%;
  width: 200px;
  padding-block: 10px;
  transition: all 0.4s ease 0s;
}
.skill-text {
  background-color: white;
}
.skill-text:hover {
  transform: scale(1.1);
}

/* education section*/
.edu-container {
  display: flex;
  justify-content: center;
}
.edu-image {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edu-content {
  padding: 0 30px;
  border-left: 2px solid #999999;
  width: 50%;
  height: auto;
}
.edu-box {
  position: relative;
  padding: 20px;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  border-radius: 10px;
}
.edu-box {
  background-color: #ffffff;
}
.edu-box:hover {
  box-shadow: 0 10px 12px 0 #ccc;
  border: 1px solid transparent;
}
.edu-box::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 0;
  background-color: #9c27b0;
  border: 2px solid white;
}
.edu-box h4 {
  position: relative;
  color: #9c27b0;
}
.edu-box h3 {
  font-size: 19px;
  padding: 10px 0 6px;
  font-family: Helvetica, sans-serif;
  color: #444;
}
.edu-box p {
  line-height: 1.2;
  color: #666;
  font-size: 17px;
}

.edu-box p i,
.exp-content p i {
  font-size: x-small;
  color: #9c27b0;
}
/* Experience Section */
.exp-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stats {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.total-exp {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.total-exp h1 {
  font-size: 40px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #eaeaea;
  box-shadow: 3px 3px 7px rgb(82, 79, 79);
  width: 120px;
  display: flex;
  justify-content: center;
  transition: all 0.4s ease 0s;
}
.total-exp h1:hover {
  transform: scale(1.1);
}
.total-exp h1 span {
  font-size: 15px;
}
.total-exp h1,
.total-exp h1 span {
  background-color: white;
  display: flex;
  align-items: baseline;
}
.total-exp h3 {
  margin-top: 5px;
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.exp-card {
  background-color: white;
}
.exp-card {
  border-left: 5px solid #9c27b0;
  padding: 20px;
  /*cursor: pointer;*/
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  width: 70%;
}
.exp-card:hover {
  box-shadow: 0 10px 12px 0 #ccc;
}
.exp-content {
  width: 80%;
  padding: 0 20px;
}
.note {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.note .bxs-error-circle {
  font-size: 20px;
  margin-right: 5px;
}

.exp-logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exp-content h4 {
  font-size: 17px;
  padding: 10px 0;
  font-family: Helvetica, sans-serif;
  color: #7e7777;
}
.note h4 {
  font-size: 14px;
  color: #454545;
}

.exp-content p {
  line-height: 1.2;
  color: #7e7777;
  font-size: 17px;
}
.exp-image {
  margin-top: 20px;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ch {
  display: none;
}

.exp-content label{
  display: none;
}
/* CSS for Small Screen*/
@media only screen and (max-width: 600px) {
  #about {
    padding: 50px 10px;
  }
  .exp-content label, .hide-content {
    display: none;
  }
  .exp-content label {
    display: inline-block;
    /* cursor: pointer; */
  }
  .exp-content label p{
    color: white;
    background-color: #9c27b0;
    padding: 5px 7px;
    border-radius: 8px;
    margin-top: 12px;
    font-weight: bold;
  }
  .exp-content .ch{
    display: flex;
    justify-content: center;
  }
  #ch:checked ~ .hide-content {
    display: block;
  }
  #ch:checked ~ label {
    display: none;
  }
  .about-heading h1 {
    font-size: 1.8em;
    text-align: center;
  }
  .about-body {
    flex-direction: column;
  }
  .about-description {
    width: 100%;
    margin-left: 0;
    font-size: 16px;
    padding-left: 5px;
  }
  .about-background {
    width: 100%;
  }
  img {
    max-width: 80%;
  }
  .tab-titles {
    margin-top: 10px;
    margin-bottom: 12px;
  }
  .tab-links {
    font-size: larger;
  }
  .tab-titles h1:nth-child(1),
  .tab-titles h1:nth-child(2) {
    margin-right: 25px;
  }
  .skill-heading {
    font-size: 15px;
  }
  .skill-flex {
    margin: 20px 20px;
  }
  .skill-text {
    width: 135px;
    padding-block: 6px;
    justify-content: space-evenly;
  }
  .skill-text p {
    font-size: 12px;
  }
  .skill-img {
    width: 35px;
    height: 35px;
  }
  .edu-container {
    flex-direction: column-reverse;
  }
  .edu-content {
    width: 100%;
  }
  .edu-box p {
    font-size: 13px;
  }
  .edu-box h3 {
    font-size: 16px;
  }
  .edu-box h4 {
    font-size: 14px;
  }
  .edu-image {
    width: 100%;
  }
  .stats {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .total-exp h1 {
    font-size: 25px;
    padding: 8px;
    width: 100px;
  }
  .total-exp h3 {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .exp-card {
    padding: 10px;
    border-radius: 10px;
    flex-direction: column-reverse;
    width: 90%;
    align-items: center;
  }
  .exp-content {
    width: 100%;
    padding: 0 5px;
    margin-top: 15px;
  }
  .note {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  .note .bxs-error-circle {
    font-size: 18px;
    margin-bottom: 11px;
    margin-right: 0px;
  }

  .exp-logo {
    width: 25%;
  }
  .exp-content h3 {
    font-size: 16px;
    text-align: center;
  }
  .exp-content h4 {
    font-size: 14px;
    text-align: center;
  }
  .note h4 {
    font-size: 11px;
    color: #454545;
  }
  .exp-content p {
    font-size: 14px;
  }
  .exp-image {
    width: 100%;
  }
  .tab-contents#experience {
    width: 100%;
  }
}
