* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
.navigation {
  position: fixed;
  transition: top 0.3s;
  z-index: 9999;
  background-color: rgba(243, 229, 245, 0.9);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 8rem;
  padding-top: 10px;
  padding-bottom: 5px;
}

.logo {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  background-color: black;
  color: #fff;
  display: flex;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-family: "Dancing Script", cursive;
}

/* Define the animation keyframes */
@keyframes background-color-animation {
  0% {
    background-color: #121212;
  }
  20% {
    background-color: rgba(131, 58, 180, 1);
  }
  40% {
    background-color: rgba(253, 29, 29, 1);
  }
  60% {
    background-color: rgb(251, 148, 52);
  }
  80% {
    background-color: rgba(131, 58, 180, 1);
  }
  100% {
    background-color: #121212;
  }
}

/* Apply the animation to the logo on hover */
.logo:hover {
  animation-name: background-color-animation;
  box-shadow: 0 0 10px #87209e;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.menu {
  display: flex;
  align-items: center;
}
.menu a {
  background-color: white;
  padding: 5px 5px;
  border-radius: 10px;
  box-shadow: 0 10px 12px 0 #ccc;
}
.navigation ul li i{
  transform: translateY(1px);
}
.menu li a {
  margin: 0 20px;
  font-size: larger;
  color: black;
  letter-spacing: 0.5px;
}
/* underline hover effect */
.underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: -3px; /* places the underline at the bottom of the text */
  left: 0; /* positions the underline at the left edge of the element */
  width: 0%; /* sets the initial width of the underline to zero */
  height: 3px;
  background-color: #ff004f;
  transition: width 0.4s ease-in-out;
}

.underline:hover::before {
  width: 100%;
}

.nav-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.github {
  margin-right: 1.75rem;
  color: black;
}
.linkedin {
  color: #0077b5;
}
.github,
.linkedin {
  transition: transform 0.3s;
}

.github:hover,
.linkedin:hover {
  transform: translateY(-4px);
  color: #9c27b0;
}

.navigation .bx-menu,
.navigation .bx-x,
.mobile-menu {
  display: none;
}

/* CSS for Small Screen*/
@media only screen and (max-width: 600px) {
  .navigation .bx-menu,
  .navigation .bx-x,
  .mobile-menu {
    display: block;
  }
  .navigation .bx-menu {
    color: #87209e;
    margin-right: 30px;
    margin-top: 10px;
  }
  .mobile-menu ul li i{
    margin-right: 5px;
  }
  .menu,
  .nav-social {
    display: none;
  }
  .navigation {
    padding: 0 1rem;
  }
  .logo {
    margin-top: 10px;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: -180px;
    width: 180px;
    height: 100vh;
    background-color: #9c27b0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    transition: right 0.5s;
  }
  .mobile-menu .bx-x {
    margin-top: 20px;
  }
  .mobile-menu a,
  .mobile-menu i {
    color: white;
  }
  .mobile-menu-list {
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 50px;
  }
  .mobile-menu-list li {
    margin-top: 25px;
  }
  .mobile-menu-social {
    margin-bottom: 25px;
  }
}
